BasedOnStyle: LLVM
NamespaceIndentation: All
ReferenceAlignment: Left
IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 90
BreakInheritanceList: AfterComma
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false