BasedOnStyle: Google
NamespaceIndentation: All
ReferenceAlignment: Left
AlignAfterOpenBracket: BlockIndent
ColumnLimit: 100

# IndentWidth: 2
# TabWidth: 2
# UseTab: Never

# BreakInheritanceList: AfterComma
# AllowAllArgumentsOnNextLine: false